html, body {
    height: 100%;
}

header {
    text-align: center;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: cornflowerblue;
}

body {
    display: flex;
    flex-direction: column;
}

#container {
    flex: 1;
}

#display {
    border-style: double;
    display: flex;
    flex-direction: row-reverse;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .row {
    display: flex;
} */

.number, .operator, #decimal, #equal, #allClear {
    color: red;
    margin: 6px;
    /* width makes all buttons uniform */
    width: 60px;
}

footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: row-reverse;
}