html, body {
    height: 100%;
}

header {
    text-align: center;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: cornflowerblue;
}

body {
    display: flex;
    flex-direction: column;
}

#displayContainer {
    display: flex;
    justify-content: center;
}

#container {
    flex: 1;
}

#display {
    border-style: double;
    display: flex;
    flex-direction: row-reverse;
    height: 40px;
    font-size: 2rem;
    margin-bottom: 10px;
    padding: 5px;
    width: 310px;
    border-radius: 10px;
    border-width: 6px;
    background-color: antiquewhite;
}

#calculatorBody {
    display: flex;
    justify-content: center;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
    padding: 5px;
    border-style: double;
    border-radius: 10%;
    border-width: 6px;
    background-color: rgb(134, 134, 134);
}

.number, .operator, #decimal, #equal, #allClear {
    margin: 6px;
    /* width makes all buttons uniform */
    width: 60px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
}

.number, .operator, #decimal {
    background-color: rgb(207, 205, 205);
    color: rgb(57, 53, 201);
}

#equal, #allClear {
    background-color: rgb(255, 40, 40);
    color: white;
}

footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: row-reverse;
}